@font-face {
    font-family: "clubland";
    src: url( "@@/fonts/clubland-webfont.woff2" ) format( "woff2" ),
         url( "@@/fonts/clubland-webfont.woff" ) format( "woff" );
    font-weight: normal;
    font-style: normal;
}

@mixin displayFont() {
    font-family: clubland, "Liberation Mono", monospace;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
