/* layout variables */

$app-width: 960px;    // the baseline resolution we strive for (tablet)
$mobile-width: 685px; // the threshold below which we start to use the mobile view

$menu-height: 58px;
$menu-toggle-width: 50px;

$spacing-xsmall: 4px;
$spacing-small: 7px;
$spacing-medium: 14px;
$spacing-large: 28px;
$spacing-xlarge: 56px;

$z-index-game: 0;
$z-index-header: 1;
$z-index-modal: 2;
$z-index-on-top: 3;

@import "_mixins";
